body {
    background-image: url("../images/duckHunt.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1920px;
    max-height: 1080px;
}

h1 {
    font-size: 43px;
    border: solid 5px rgb(101, 196, 240)(187, 0, 0);
    background: white;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: 'Faster One', cursive;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding-top: 10px;
}


img {
    margin: 10px;
}


.sidebar {
    padding: 5px;
    position: relative;
    border-top: solid rgb(71, 241, 247) 2px;
    border-bottom: solid rgb(74, 219, 230) 2px;
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

span {
    border: solid rgb(71, 228, 240) 2px;
    padding-left: 3px;
    padding-right:3px;
    background-color: yellow; 
    font-size: 15px;
}

.background {
    
    border: solid 5px rgb(91, 235, 235);
}

.container {
  
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    text-align: center;
    border: solid 3px rgb(94, 228, 238);
}

#currentword {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}

#scoreboard {
    padding: 20px;
}